.heading-section {
    text-align: center;
    margin-bottom: 20px;
}
.heading-section h2 {
    /* font-size: 32px; */
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
    color: #adadad;
    font-size: 14px;
}
.product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}
.align-center {
    align-items: center;
}
.product-info {
    width: 100%;
}
.product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
}
.productos-cards{
    min-height: 55vh;
}

#descripcionCorta{
    font-size: large; 
    line-height:1.5rem;
    /* line-height:28px; */
}
.conteiner-imagen{
    display: flex;
    justify-content: center;
}

#imagen{
    width: 80%;
    /* text-align: center; */
}
.owl-stage{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 655px){
    *:not(h2){
      font-size: small;
    }
    #descripcionCorta{
        font-size: small;
        line-height:2rem;
    }
    #imagen{
        /* justify-content: center; */
        /* align-items: center; */
        /* align-content: center; */
        /* align-self: center; */
        width: 50%;
        /* text-align: center; */
    }
}

@media only screen and (max-width: 580px){
    * :not(h2){
      /* font-size: xx-small; */
    }
    #descripcionCorta {
        /* font-size: xx-small; */
        line-height:2rem;
    }
}