* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

/* A Animación */
a {
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: #232323;
  transition: color 0.3s ease;
}

a:not(.navbar-brand,.nav-link,.mr-4,.btn):hover {
  color: green;
}

a:not(.navbar-brand,.nav-link,.mr-4,.btn):after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: green;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:not(.navbar-brand,.nav-link,.mr-4,.btn):hover:after{ 
  width: 100%; 
  left: 0; 
}
/* Fin A Animación */





/* PRODCUTOS */
.productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5rem 0 1rem;
}

.img-container {
    position: relative;
  }
  
.productos_icon {
  opacity: 1;
  display: block;
  width: 9rem;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
  .center-img-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .img-container:hover .productos_icon {
    opacity: 0.3;
  }
  
  .img-container:hover .center-img-text {
    opacity: 1;
    cursor: pointer;
  }
  
  .img-text {
    background-color: #536d639c;
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
  }

/* FIN PRODUCTOS */

/*Cards productos*/
.productos-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 0.3rem;
}