* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
  color: #607289;
  text-decoration: none;
  letter-spacing: 0.15em;
}


/*NAVEGADOR*/
.navbar{
  background-color: rgba(129, 220, 129, 0.473);
} 

.nav-link, .navbar-brand{
    color: rgb(19, 113, 0);
    justify-content: right;
}

.navbar-brand{
  width: 14rem;
}

.navbar-collapse{
  justify-content: right;
}

.navbar-logo{
  width: 100%;
}


/*NOSOTROS*/
.nosotros-section {
  width: 100%;
  height: 400px;
  background-image: url('../img/cirugia-2.png');
  background-position: 0 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nosotros-texto-section {
  height: 75%;
  color: #030929;
  background-color: rgba(245, 245, 245, 0.445);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}

.nosotros-parrafo {
  margin: 0 15rem 0 0;
}

/* PRODUCTOS */
.productos-index-section {
  background-color: #83f683b0;
  color: #FFFFFF;
  width: 100%;
}

.titulo {
  margin: 4rem 2rem 1rem 8rem;
  text-transform: uppercase;
}

.productos-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem 0 0rem 0;
}

.img-container {
  position: relative;
}

.productos_icon {
  opacity: 1;
  display: block;
  width: 10rem;
  height: 15rem;
  transition: .5s ease;
  backface-visibility: hidden;
  
  /* border: 3px solid black */
}

.center-img-text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .productos_icon {
  opacity: 0.3;
}

.img-container:hover .center-img-text {
  opacity: 1;
  cursor: pointer;
}

.img-text {
  background-color: #7fb7a29c;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.mas-productos {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 1rem 1.5rem;
    position: relative;
  }
 

/* FIN PRODUCTOS */

.separador{
  margin: 2rem 6rem 2rem 6rem;
  border-width: 0.2rem;
}


  
h5 {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: Arial,sans-serif;
  font-weight: 500;
  color: #030929;
}
  
/* A ANIMACION */
a {
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  color: #232323;
  transition: color 0.3s ease;
}

a:not(.navbar-brand,.nav-link,.btn):hover {
  color: green;
}

a:not(.navbar-brand,.nav-link,.mr-4,.btn):after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: green;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:not(.navbar-brand,.nav-link,.mr-4,.btn):hover:after{ 
  width: 100%; 
  left: 0; 
}
/* FIN A */

/*Direccion*/
.direccion {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.direccion_info {
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
}

.direccion_info_ttl {
    font-weight: 700;
    color: #83F683;
}

.map {
    width: 600px;
    height: 450px;
}
/* FIN DIRECCIÓN */

/* Formularios */
.form_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4%;
}
.contact{
  width:50%;
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  padding-top:2%;
  padding-bottom: 1.5%;
  margin-top: 2rem;
}

.form-title{
  text-align: center;
  color: rgb(3, 69, 3);
}

.botones{
  display:flex;
  margin: auto;
}

#bt-contacto{
  margin-left: 5rem;
}
#bt-contacto2{
  margin-left: 5rem;
}

.bt-style {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
  margin-top: 1rem;
}
  
.bt-style:hover {
  background-color: rgb(249,250,251);
}

.bt-style:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bt-style:focus-visible {
  box-shadow: none;
}

.label-input{
  margin-left: 5rem;
  /* text-align: left;
  justify-content: left;
  align-content: flex-start; */

}

.short-text{
  margin-left: 5rem;
  margin-right: 3rem;
}

.long-text{
  margin-left: 5rem;
  margin-right: 3rem;
  padding-bottom: 5rem;
}

.form_section2 {
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4%;
  height: 0;
}

.label-input2{
  margin-top: 1rem;
  margin-left: 5rem;
}

.short-text {
  border: 2px solid #83f683b0;
  border-radius: 6px;
  font-family: Arial,sans-serif;
  font-size: 15px;
  letter-spacing: 0.15em;
  padding: 0.3rem;
}

textarea {
  border: 2px solid #83f683b0;
  border-radius: 6px;
  font-family: Arial,sans-serif;
  letter-spacing: 0.15em;
  padding: 0.3rem;
}

#emailCvWarning{
  margin-top: 2rem;
  margin-left: 5rem;
}

.file-div {
  visibility: hidden;
}

#myFile{
    margin: 5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

/* Fin Formularios */


footer {
  background: #ebf4fa;
}

.column{
  display: flex;
  column-gap: 10rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer-img {
    width: 80%; 
    margin-top: 3.5rem;
}


@media (max-width:957px){
  *:not(.img-text){
    font-size: small;
  }

  .img-text {
    background-color: #7fb7a29c;
    color: white;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }
  .productos_icon {
    opacity: 1;
    display: block;
    width: 5rem;
    height: 8rem;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}

@media only screen and (max-width: 360px){
    /*NOSOTROS*/
    .nosotros-section {
        width: 100%;
        height: 400px;
        background-image: url('../img/cirugia-2.png');
        background-position: 0 400px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .titulo {
        font-size: 15px;
        width: 100%;
        text-align: center;
        padding-bottom: 8px;
        margin: 0;
      }

      .nosotros-texto-section {
        justify-content: center;
        align-content: center;
        align-items: baseline;
      }
      
      .nosotros-parrafo {
        width: 90%;
        padding-top: 5px;
        margin: 0;
        font-size: 16px;
        text-align: center;
        align-self: center;
      }

    
    /*DIRECCION*/
    .direccion_info {
        font-size: 16px;
    }

    .map {
        width: 90%;
    }

    /*FORM*/
    .contact{
        width: 100%;
        display:flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-evenly;
        gap: 2%;
    }

    #myFile {
        margin: 0;
        width: 100%;
    }

    .label-input2 {
        width: 100%;
        text-align: left;
        margin-top: 1;
        margin-left: 0;
    }

    #cv-email {
        width: 100%;
        text-align: left;
        margin: 0;
    }

    .workWithUs {
        width: 90%;
    }

    
    .contact {
        width: 90%;
    }

    .label-input {
        width: 100%;
        text-align: left;
        margin-top: 1;
        margin-left: 0;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    .long-text{
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
      }

    .short-text {
        width: 100%;
        text-align: left;
        margin: 0;
    }

    /*FOOTER*/
    .footer-img-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-img {
        margin-top: 0;
    }
  
}